<div class="container">
  <h1>Design page</h1>

  <div>
    <h3>Buttons</h3>
    <a href="#" class="btn-modifications">Enregistrer les modifications</a>
    <a href="#" class="btn-cancel">Annuler</a>
  </div>

  <div>
    <h3>Index</h3>
    <div class="line-index-title">
      <div class="inside-index"><p>Nom</p></div>
      <div class="inside-index"><p>Prénom</p></div>
      <div class="inside-index"><p>Ville</p></div>
      <div class="mail-index"><p>Mail</p></div>
      <div class="status" style="color: $blue; font-size: 18px"><p>Statut</p></div>
    </div>
    <div class="line-index">
      <div class="inside-index"><p>Cohen</p></div>
      <div class="inside-index"><p>Pierre</p></div>
      <div class="inside-index"><p>Paris</p></div>
      <div class="mail-index"><p>pierre-cohen@hotmail.fr</p></div>
      <div class="status" id="contacted">Contacté</div>
    </div>
    <div class="line-index">
      <div class="inside-index"><p>Yahiaoui</p></div>
      <div class="inside-index"><p>Alicia</p></div>
      <div class="inside-index"><p>Fontenay-Sous-Bois</p></div>
      <div class="mail-index"><p>alicia.yahiaoui@gmail.fr</p></div>
      <div class="status" id="not-contacted">À contacter</div>
    </div>
    <div class="line-index">
      <div class="inside-index"><p>Martins</p></div>
      <div class="inside-index"><p>Corentin</p></div>
      <div class="inside-index"><p>Montreuil</p></div>
      <div class="mail-index"><p>coco.clyde@outlook.com</p></div>
      <div class="status" id="on-going">En cours</div>
    </div>
  </div>

  <div>
    <h3>Photo</h3>
    <div class="picture">
      <%= image_tag "missing_photo.jpg" %>
      <a href="#" class="btn-import"><i class="fa fa-camera" aria-hidden="true"></i>Importer une photo</a>
    </div>
  </div>

</div>
